node_modules
.settings
target
.project
.classpath
.serverless
zeebe-event-adapter/aws/camunda.env
zeebe-event-adapter/aws/aws.env
zeebe-event-adapter/aws/ecs-params.yml
zeebe-event-adapter/aws.env
zeebe-event-adapter/camunda.env