# to activate this remove SAMPLE from the file name. Once you do that it will be gitignored

AWS_REGION=<FILL IN>

# AWS_ACCESSKEY=<ONLY INCLUDE IF YOU'RE NOT USING A ROLE>
# AWS_SECRET=<ONLY INCLUDE IF YOU'RE NOT USING A ROLE>